.shop-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr) 250px;
}
.product-container {
  margin: 100px 80px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 25px;
}
.cart-container {
  width: 250px;
  padding: 10px;
  background-color: rgba(255, 153, 0, 0.3);
}
